<div class="container width-m text-center custom-padding my-2" id="about">
    <div class="row mt-3">
        <div class="col-md-6 col-sm-12 mb-3">
            <img src="assets/5-logos-grid.png" alt="Ai logos in 3x3 matrix">
        </div>
        <div class="col-md-6 col-sm-12 align-vert my-3">
            <div class="container text-start">
                <h1 class="about-title">ABOUT US</h1>
                <br>
                <p>
                    <strong>Community History.</strong> 
                    Since our inception, AI Expedition has united learners and experts 
                    worldwide, fostering a collaborative environment to demystify AI and 
                    make it accessible to everyone.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h1 class="about-title text-center mb-5">MISSION AND VISION STATEMENTS</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 gx-5 g-3">
        <div class="col">
            <div class="card h-100 border-0 text-center">   
                <img src="assets/Mission-Vision-1.png" class="card-img-top mx-auto" alt="ai image 1">
                <div class="card-body">
                    <h5 class="card-title"><strong>Mission</strong></h5>
                    <p class="card-text">AI Expedition is a community-driven initiative founded to make 
                        learning about the world of AI exciting and accessible for everyone.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0">
                <img src="assets/Mission-Vision-2.png" class="card-img-top mx-auto" alt="ai image 2">
                <div class="card-body">
                    <h5 class="card-title"><strong>Vision</strong></h5>
                    <p class="card-text">To empower individuals of all backgrounds to understand and leverage 
                        the potential of AI for positive change.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0">
                <img src="assets/Mission-Vision-3.png" class="card-img-top mx-auto" alt="ai image 3">
                <div class="card-body">
                    <h5 class="card-title"><strong>Team Members</strong></h5>
                    <p class="card-text">Meet the dedicated individuals and volunteers driving our mission forward 
                        with their passion for AI and community growth</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/1-About.png" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/2-Events.png" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/3-Resourses.png" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/4-Contact.png" class="" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4 col-lg-3 my-2">
                <a class="btn btn-primary dark-blue rounded-pill w-100 btn-text" href="#" type="button">JOIN US ON DISCORD</a>
            </div>
            <div class="col-md-4 col-lg-3 my-2">
                <a class="btn btn-primary medium-blue rounded-pill w-100 btn-text" href="#" type="button">BECOME A VOLUNTEER</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class=" width-m custom-margin border-bottom border-black border-5"></div>
</div>