<div class="container width-m text-center custom-padding my-3" id="about">
    <div class="row mt-3">
        <div class="col-md-6 col-sm-12 mb-3">
            <img src="../../../assets/5-logos-grid.png" alt="Ai logos in 3x3 matrix">
        </div>
        <div class="col-md-6 col-sm-12 align-vert my-3">
            <div class="container text-start">
                <h1 class="about-title">ABOUT US</h1>
                <br>
                <p>
                    (Community history). This is prime space! Use it to
                    elaborate on your attention-grabbing section title.
                    Explain what this section is about, share some
                    details, and give just the right amount of information
                    to get the audience hooked. Don't give everything
                    away, though! After all, you want them to click on
                    your call-to-action after reading this.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h1 class="about-title text-center mb-5">MISSION AND VISION STATEMENTS</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 gx-5 g-3">
        <div class="col">
            <div class="card h-100 border-0">
                <img src="..." class="card-img-top" alt="missing image">
                <div class="card-body">
                    <h5 class="card-title">Your Sub-Header Goes Here</h5>
                    <p class="card-text">There is just enough space here for
                        several lines of text. Use it well.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0">
                <img src="..." class="card-img-top" alt="missing image">
                <div class="card-body">
                    <h5 class="card-title">Your Sub-Header Goes Here</h5>
                    <p class="card-text">There is just enough space here for
                        several lines of text. Use it well.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0">
                <img src="..." class="card-img-top" alt="missing image">
                <div class="card-body">
                    <h5 class="card-title">Your Sub-Header Goes Here</h5>
                    <p class="card-text">There is just enough space here for
                        several lines of text. Use it well.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/1-About.png" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/2-Events.png" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/3-Resourses.png" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/4-Contact.png" class="" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4 col-lg-3 my-2">
                <a class="btn btn-primary dark-blue rounded-pill w-100 btn-text" href="#" type="button">JOIN</a>
            </div>
            <div class="col-md-4 col-lg-3 my-2">
                <a class="btn btn-primary medium-blue rounded-pill w-100 btn-text" href="#" type="button">VOLUNTEER WITH US</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class=" width-m custom-margin border-bottom border-black border-5"></div>
    </div>
</div>