<footer class="bg-dark-blue text-white">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 col-lg-6 position-relative m-0 p-0">
                <p class="statement text-start">BE PART OF OUR COMUNITY TODAY</p>
                <img id="pic_logo" class="position-absolute custom-position" src="assets/Log5-05.png" alt="AI Expedition logo">
            </div>
            <div class="col-md-4 col-lg-3 text-start">
                <p>Add your location<br>123 Anywhere St.,<br>Any City, ST 12345<br>123-456-7890</p>                
            </div>
            <div class="col-md-4 col-lg-3">
                <p>HELLO&#64;REALLYGREATSITE.COM</p>
                <div class="row">
                    <div class="col"><a href="#"><i class="bi bi-instagram"></i></a></div>
                    <div class="col"><a href="#"><i class="bi bi-facebook"></i></a></div>
                    <div class="col"><a href="https://www.youtube.com/@YourAIExpedition"><i class="bi bi-youtube"></i></a></div>
                    <div class="col"><a href="https://www.linkedin.com/company/ai-expedition/posts/?feedView=all"><i class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>