<header class="sticky-top">
  <nav class="navbar navbar-dark bg-dark-blue" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img id="pic_logo" src="assets/Log8-08.png" alt="AI Expedition logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#intro">INTRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resources">RESOURCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>