.width-m{
    max-width: 1200px;
}
img{
    width: 100px;
}
.no-border{
    border: 0;
}
.btn-text{
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px !important;
    line-height: normal;
}
