<div class="container width-m text-center mt-5 custom-padding" id="intro">
    <div class="row row-cols-1 row-cols-md-2 g-5">
        <div class="col">
            <div class="card no-border me-3" id="card">
                <div class="container text-center">
                    <img src="assets/1-About.png" class="card-img-top" alt="about us">
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-dark rounded-pill w-100 btn-text" href="#about" type="button">ABOUT</a>
                    <p class="card-text">Discover our journey, mission, and the passionate team behind AI Expedition.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card no-border ms-3" id="card">
                <div class="container text-center">
                    <img src="assets/2-Events.png" class="card-img-top" alt="events">
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-dark rounded-pill w-100 btn-text" href="#events" role="button">EVENTS</a>
                    <p class="card-text">Stay updated with our live sessions, past webinars, and AI discussions that shape the future.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card no-border me-3" id="card">
                <div class="container text-center">
                    <img src="assets/3-Resourses.png" class="card-img-top" alt="resources">
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-dark rounded-pill w-100 btn-text" href="#resources" role="button">RESOURCES</a>
                    <p class="card-text">Access courses, articles, videos, and interactive tools to deepen your AI knowledge.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card no-border ms-3" id="card">
                <div class="container text-center">
                    <img src="assets/4-Contact.png" class="card-img-top" alt="contact us">
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-dark rounded-pill w-100 btn-text" href="#contact" role="button">CONTACT</a>
                    <p class="card-text">Connect with us on social media, get updates, and join our growing community.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class=" width-m custom-margin border-bottom border-black border-5"></div>
</div>