<div class="container text-center mt-3 mb-3">
    <div class="row">
        <div class="col-6 position-relative">
            <div class="row logo-container">
                <div class="col"><img src="../../../assets/ai_expedition_logo.jpg" alt="logo"></div>
                <div class="col mt-2"><p>AI<br>Expedition</p></div>
            </div>
            <p class="title">
                WELCOME
            </p>
        </div>
        <div class="col-6">
            <div class="container text-center">
                <div class="row gx-3">
                    <div class="col-4">
                        <div class="square-cell-blue">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="square-cell-white">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="square-cell-marine">
                        </div>
                    </div>
                </div>
                <div class="row gx-3 mt-3">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <div class="square-cell-logo">
                            <img src="../../../assets/Log8-08.png" alt="logo">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="square-cell-white">
                        </div>
                    </div>
                </div>
                <div class="row gx-3 mt-3">
                    <div class="col-4">
                        <div class="square-cell-marine">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="square-cell-white">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="square-cell-blue">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
