.square-cell-blue {
    position: relative;
    width: 100%; /* Ocupa todo el ancho de la columna */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    display: flex;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    background-color: #488cca;
}
.square-cell-marine {
    position: relative;
    width: 100%; /* Ocupa todo el ancho de la columna */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    display: flex;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    background-color: #c4dcd5;
}
.square-cell-white {
    position: relative;
    width: 100%; /* Ocupa todo el ancho de la columna */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    display: flex;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 5px solid #000; /* Borde para visualización */
}
.square-cell-logo {
    position: relative;
    width: 100%; /* Ocupa todo el ancho de la columna */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    display: flex;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 140px;
    margin: 0%;
    padding: 0%;
    text-align: justify;
    line-height: 1;
}
.align-vert{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    line-height: 1;
}
.title-container{
        display: grid;
        align-items: center;

}
.logo-container{
    text-align: start;
    padding: 0%;
    margin: 0%;
}
.logo-container>div>img{
    max-width: 80px;
}
img{
    min-width: 50px;
    max-width: 200px;
}

.width-m{
    max-width: 1200px;
}

/* Laptop (Pantallas grandes) */
@media (min-width: 1201px) {
    .title {
        font-size: 140px; /* Ajusta el tamaño para pantallas grandes */
    }
    .logo-container>div>img{
        max-width: 120px;
    }
    .align-vert{
        font-size:24px;
    }
}
/* Laptop (Pantallas grandes) */
@media (min-width: 1024px) and (max-width: 1200px) {
    .title {
        font-size: 12vw; /* Ajusta el tamaño para pantallas grandes */
    }
    .logo-container>div>img{
        max-width: 90px;
    }
    .align-vert{
        font-size: 24px;
    }
}

/* iPad y tablets (Pantallas medianas) */
@media (max-width: 1023px) and (min-width: 769px) {
    .title {
        font-size: 12vw; /* Ajusta el tamaño para tablets */
    }
    .logo-container>div>img{
        max-width: 70px;
    }
    .align-vert{
        font-size: 20px;
    }
}

/* Teléfonos móviles (Pantallas pequeñas) */
@media (max-width: 768px) {
    .title {
        font-size: 12vw; /* Ajusta el tamaño para móviles */
    }
    .logo-container>div>img{
        max-width: 5px;
    }
    .align-vert{
        font-size: 12px;
    }
}