<div class="container width-m text-center mt-3 mb-3">
    <div class="row gx-3 mt-3">
        <div class="col-6"></div>
        <div class="col-2">
            <div class="square-cell-blue">
            </div>
        </div>
        <div class="col-2">
            <div class="square-cell-white">
            </div>
        </div>
        <div class="col-2">
            <div class="square-cell-marine">
            </div>
        </div>
    </div> 
    <div class="row gx-3 mt-3">
        <div class="col-8 title-container">
            <p class="title">
            WELCOME
            </p>
        </div>
        <div class="col-2">
            <div class="square-cell-logo">
                <img src="../../../assets/Log8-08.png" alt="logo">
            </div>
        </div>
        <div class="col-2">
            <div class="square-cell-white">
            </div>
        </div>
    </div>
    <div class="row gx-3 mt-3">
        <div class="col-6"></div>
        <div class="col-2">
            <div class="square-cell-marine">
            </div>
        </div>
        <div class="col-2">
            <div class="square-cell-white">
            </div>
        </div>
        <div class="col-2">
            <div class="square-cell-blue">
            </div>
        </div>
    </div>
</div>
