<div class="container width-m text-center custom-padding my-3" id="resources">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                <h1 class="resources-title">RESOURCES</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="width-m custom-margin border-bottom border-black border-5"></div>
</div>
