.width-m{
    max-width: 1200px;
}
.resources-title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: 0%;
    padding: 0%;
    text-align:center;
    line-height: 1;
    color: #488cca;
}

@media (max-width:780px) {
    .resources-title{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        margin: 0%;
        padding: 0%;
        text-align:center;
        line-height: 1;
        color: #488cca;
    }
}