<div class="container width-m text-center mt-5 custom-padding" id="events">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <H1>
                    EVENTS
                </H1>
                <P class="text-start">
                    (Intro section) This is prime space! Use it to elaborate on
                        your attention-grabbing section title. Explain what this
                        section is about, share some details, and give just the
                        right amount of information to get the audience hooked.
                        Don't give everything away, though! After all, you want
                        them to click on your call-to-action after reading this.
                </P>
            </div>
            <div class="col-md-6 border border-black">
                <video src="" class="object-fit-contain" autoplay></video>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4 col-lg-3 my-2">
                <a class="btn btn-primary dark-blue rounded-pill w-100 btn-text" href="#" type="button">PREVIOUS SESSIONS</a>
            </div>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>
</div>
<video src="" class="border border-black object-fit-contain w-100" autoplay></video>
<div class="container width-m text-center mt-5 custom-padding">
    <button type="button" class="btn light-blue"><strong>NEXT LIVE SESSIONS</strong></button>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 border border-black border-3 round">
                <h1 class="events-title">SUBSCRIBE</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <button type="button" class="btn med-blue-block mt-5"><strong>YOUR AI EXPEDITION NEWSLETTER</strong></button>
    <div class="container mt-5">
        <div class=" width-m custom-margin border-bottom border-black border-5"></div>
    </div>
</div>