.dark-blue{
    background-color: #13213c;
}

.med-blue-block{
    background-color: #488cca;
    width: 60vw;
    font-size:x-large;
}

.light-blue{
    background-color: #c4dcd5;
    width: 60vw;
    font-size:x-large;
}

.events-title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: 0%;
    padding: 0%;
    text-align:center;
    line-height: 1;
    color: #488cca;
}

.round{
    border-radius: 1vw;
}

.custom-height{
    height: 600px;
}

@media (max-width: 768px) {
    .events-title{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        margin: 0%;
        padding: 0%;
        text-align:center;
        line-height: 1;
        color: #488cca;
    }
    .med-blue-block{
        background-color: #488cca;
        width: 80vw;
        font-size:medium;
    }
    
    .light-blue{
        background-color: #c4dcd5;
        width: 80vw;
        font-size:medium;
    }
    .custom-height{
        height: 300px;
    }
}